*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', 'Inter', 'sans-serif';
   }

   body{
    background-color: rgb(219, 217, 217);
   }
   /*The main essence of this idex .css is for global styles. 
   I added the above to get rid of the default browser styling*/